<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jc.app"
    android:versionCode="3"
    android:versionName="1.1"
    >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoextrahours"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="false">
        <activity
            android:name="com.jc.app.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MakeTask" android:label="Add Task" android:screenOrientation="portrait"/>
        <activity android:name=".TimeMe" android:label="Timer" android:screenOrientation="portrait"/>
        <activity android:name=".DoneActivity" android:label="DoneActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
